baseball/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
        xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
        xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
       
    xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
       http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/3.1/mule-ajax.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd">

    <ajax:connector name="ajaxServer" serverUrl="http://0.0.0.0:8082" resourceBase="${app.home}/docroot"/>

    <flow name="LookupFlow">
        <ajax:inbound-endpoint channel="/stats"/>
        <logger level="INFO"/>
        <enricher target="#[header:INVOCATION:average]" source="#[payload]">
            <vm:outbound-endpoint path="averages" exchange-pattern="request-response"/>
        </enricher>
        <enricher target="#[header:INVOCATION:rbis]" source="#[payload]">
            <vm:outbound-endpoint path="rbis" exchange-pattern="request-response"/>
        </enricher>
        <enricher target="#[header:INVOCATION:homeruns]" source="#[payload]">
            <vm:outbound-endpoint path="hrs" exchange-pattern="request-response"/>
        </enricher>
        <scripting:component>
            <scripting:script engine="groovy">
                <scripting:text>
                    return [player:payload, average:message.getInvocationProperty("average"),
                                rbis:message.getInvocationProperty("rbis"),
                                homeruns:message.getInvocationProperty("homeruns")];
                </scripting:text>
            </scripting:script>
        </scripting:component>
        <ajax:outbound-endpoint channel="/results"/>
    </flow>

    <flow name="lookupAverage">
        <vm:inbound-endpoint path="averages" exchange-pattern="request-response"/>
        <component class="org.mule.baseball.Averages"/>
    </flow>

    <flow name="lookupRBIs">
        <vm:inbound-endpoint path="rbis" exchange-pattern="request-response"/>
        <component class="org.mule.baseball.RBIs"/>
    </flow>

    <flow name="lookupHRs">
        <vm:inbound-endpoint path="hrs" exchange-pattern="request-response"/>
        <component class="org.mule.baseball.HRs"/>
    </flow>

</mule>
