baseball/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:http="http://www.mulesoft.org/schema/mule/http"
       xmlns:vm="http://www.mulesoft.org/schema/mule/vm"

       
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.1/mule-http.xsd">

    <flow name="LookupFlow">
        <http:inbound-endpoint host="localhost" port="18080" path="services/baseball" exchange-pattern="request-response"/>
        <expression-transformer evaluator="header" expression="INBOUND:name"/>
        <logger level="INFO"/>
        <enricher target="#[header:OUTBOUND:average]" source="#[payload]">
            <vm:outbound-endpoint path="averages" exchange-pattern="request-response"/>
        </enricher>
        <enricher target="#[header:OUTBOUND:rbi]" source="#[payload]">
            <vm:outbound-endpoint path="rbis" exchange-pattern="request-response"/>
        </enricher>
        <enricher target="#[header:OUTBOUND:hr]" source="#[payload]">
            <vm:outbound-endpoint path="hrs" exchange-pattern="request-response"/>
        </enricher>
        <component class="org.mule.baseball.Formatter"/>
    </flow>

    <flow name="lookupAverage">
        <vm:inbound-endpoint path="averages" exchange-pattern="request-response"/>
        <component class="org.mule.baseball.Averages"/>
    </flow>

    <flow name="lookupRBIs">
        <vm:inbound-endpoint path="rbis" exchange-pattern="request-response"/>
        <component class="org.mule.baseball.RBIs"/>
    </flow>

    <flow name="lookupHRs">
        <vm:inbound-endpoint path="hrs" exchange-pattern="request-response"/>
        <component class="org.mule.baseball.HRs"/>
    </flow>

</mule>
